/* Colors:
SUN FLOWER LIGHTER - #f3cc2f
SUN FLOWER - #f1c40f
SUN FLOWER DARKER - #d2aa0c
*/

/*----------------------------------*/
/* BASIC SETUP */
/*----------------------------------*/
*{
     margin: 0px;
     padding: 0px;
}

html,
body{
     background: #232526; /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     font-family: 'Lato', 'Arial', sans-serif;
     color: #f1c40f;
     font-weight: 300;
     font-size: 20px;
     text-rendering: optimizeLegibility;
     overflow-x: hidden;
     width: 100%;
     height: 100%;
}

/*----------------------------------*/
/* Resuable Components */
/*----------------------------------*/
.row{
    max-width: 1140px;
     min-width: 350px;
    margin: 0 auto;
}

section{
     padding: 80px 0;
}

.subsection{
     padding: 40px 0;
}

.subsection:last-child{
     padding-bottom: 80px;
}

.box{
     padding: 1%;
}

/* HEADINGS */
h1, h2, h3{    
    font-weight: 300;
    text-transform: uppercase; 
     text-align: center;
}

h1{
     font-size: 300%;
     word-spacing: 4px;
     letter-spacing: 1px;
}

h2{
     font-size: 250%;
     font-weight: 100;
     word-spacing: 10px;
     letter-spacing: 2px;
     margin-bottom: 20px;
}

h3{
     font-size: 170%;
     font-weight: 100;
     letter-spacing: 2px;
     margin-bottom: 20px;
}

h2:after{
     display: block;
     height: 2px;
     background-color: #f1c40f;
     content: " ";
     width: 300px;
     margin: 0 auto;
     margin-top: 20px;
}

/* PARAGRAPHS */
p{
     color: #FFF;
     font-size: 110%;
     line-height: 1.5;
     word-spacing: 4px;
}

/* ICONS */
.icon-big{
     font-size: 350%;
     display: block;
     color: #f1c40f;
     margin-bottom: 10px;
}

.icon-small{
     display: inline-block;
     margin-right: 15px;
     color: #f1c40f;
}

/* LINKS */

/* BUTTONS */
.btn{
     letter-spacing: 2px;
}

.btn:link,
.btn:visited{
     display: inline-block;
     font-size: 120%;
     padding: 10px 30px;
     text-decoration: none;
     border-radius: 200px;
     border: 1px solid #f1c40f;
     color: #000;
}

.btn-full:link,
.bth-full:visited{
     background-color: #f1c40f;
     color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
     color: #f1c40f;
}


/*----------------------------------*/
/* MAIN PAGE */
/*----------------------------------*/

/*----------------------------------*/
/* HEADER */
/*----------------------------------*/

/* MAIN NAV */

.main-page-header{
     background-size: cover;
     background-position: center;
     padding-bottom: 0px;
     /*height: 100vh;*/
}

.main-nav{
     width: 100%;
     list-style: none;
     float: left;
     text-align: center;
     margin-bottom: 20px;
}

.main-nav li{
     display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited{
     text-decoration: none;
     color: #fff;
     font-size: 110%;
     padding: 8px 0px;
     margin: 0 15px;
     text-transform: uppercase;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #d2aa0c;
}


.slideshow-container{
     position: relative;
     text-align: center;
}

.logo{
     display: none;
     height: 100px;
     width: 100px;;
     float: left;
     margin-left: 20px;
}

.mySlides{
     display: none;
}

.slideshow-container img{
     width: 40%;
     padding: 1px;
     margin: 0 auto;
     box-shadow: 2px 2px 2px #212121;
}

.text{
     font-size: 110%;
     font-weight: 100;
     margin-top: 20px;
     color: rgb(255, 255, 255);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 20%;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.call-to-action{
     margin-top: 0px;
     padding-bottom: 40px;
     text-align: center;
     
}

.call-to-action a{
     display: inline-block;
     margin: 20px 10px;
     padding: 20px 0;
     text-decoration: none;
}

/* MOBILE NAV */
.mobile-nav-icon{ 
     float: right;
     margin-top: 30px;
     margin-right: 10px;
     cursor: pointer;
     display: none;
}

.mobile-nav-icon i{
     font-size: 200%;
}


/* STICKY NAV */
.sticky{
     z-index: 1;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: auto;
     background: rgba(255, 255, 255, 0.94);
     box-shadow: 0 2px 2px #efefef;
}

.sticky .row{
     display: inline;
}

.sticky .logo{
     width: 50px;
     height: auto;
}

.sticky h1{display: none; }
.sticky img{ display: inline;}

.sticky .menu,
.sticky i
{float: right;}

.sticky .main-nav li{
     margin: 10px 0;
}

.sticky .main-nav{
     margin: 0;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
     color: #f1c40f;
     padding: 10px 0px;
     margin: 0 15px;
}

.sticky .mobile-nav-icon{ 
     float: right;
     margin-top: 5px;
}


/*----------------------------------*/
/* Biography */
/*----------------------------------*/

.section-biography{
     background: linear-gradient(to right, #313334, #444649);
     width: 100%;
     text-align: center;
}

.upper-half,
.lower-half{
     width: 70%;
     margin: 0 auto;
}

.biography-box{
     margin: 40px auto;
     width: 100%;
}

.quadrant{
     margin: 10px 0;
     text-align: center;
}

.bio-btn{
     display: block;
     margin-top: 30px;
}

/*----------------------------------*/
/* PAINTINGS */
/*----------------------------------*/
.section-paintings{
     width: 80%;
     margin: 0 auto;
     text-align: center;
}

.category{
     display: block;
     margin: 0;
     padding: .5%;
}

.category img{
     display: block;
     margin: 20px auto;
     width: 90%;
     height: auto;
}

.category btn{
     margin: 10px auto;
}

/*----------------------------------*/
/* WORKSHOPS/CLASSES */
/*----------------------------------*/
.section-workshops{
     background: linear-gradient(to right, #313334, #444649);
     text-align: center;
}

.section-workshops img{
     width: 650px;
     height: auto;
     margin-left: 60px;
}

.section-workshops p{
     font-size: 130%;
     text-align: left;
     margin: 25px 0;
}

.section-workshops p:first-child{
     margin-top: 70px    
}

.section-workshops a{
     margin-top: 20px;
}

/*----------------------------------*/
/* COMMISSIONS */
/*----------------------------------*/
.section-commissions{
     background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/Port_In_Cassis_France-min.jpg);
     background-size: cover;
     color: #fff;
     background-attachment: fixed;
     text-align: center;
     padding: 10%;
}


.commission-box{
     margin: 100px 0 20px 0;
}

.commission-box .btn-ghost{
     margin-top: 50px;
     font-size: 220%;
}

/*----------------------------------*/
/* FORM */
/*----------------------------------*/

.section-form{
     background: linear-gradient(to right, #313334, #444649);
}
.contact-form{
     width: 60%;
     margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
     width: 100%;
     padding: 7px;
     border-radius: 3px;
     border: 1px solid #ccc;
}

textarea{
     height: 100px;
}

input[type=checkbox]{
     margin: 10px 5px 10px 0;
}

input[type=submit]{
     display: inline-block;
     font-size: 120%;
     padding: 10px 30px;
     text-decoration: none;
     border-radius: 200px;
     border: 1px solid #f1c40f;
     color: #000;
     background-color: #f1c40f;
     color: #fff;
}

*:focus {outline:none;}

/*----------------------------------*/
/* FOOTER */
/*----------------------------------*/
footer{
     padding-bottom: 50px;
     background: #252727;
     position: relative;
     width: 100%;
     height: auto;
}

footer p{
     color: #888;
     text-align: center;
     font-size: 90%;
     margin-top: 20px;
}

footer a{
     text-decoration: none;
     color: #f1c40f;
}

.workshop-schedule-footer,
.contact-me-footer,
.blog-footer{
     padding-bottom: 50px;
     background: #252727;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: auto;
}

.footer-nav{
     list-style: none;
     float: left;
}

.social-links{
     list-style: none;
     float: right;
}

.footer-nav li,
.social-links li{
     display: inline-block;
     margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
     margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-linksli a:visited{
     text-decoration: none;
     border: 0;
     color: #888;
     -webkit-transition: 0.2s;
     transition: 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
     color: #ddd;     
}

.social-links li a:link,
.social-links li a:visited{
     font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
     -webkit-transition: 0.2s;
     transition: 0.2s;
}

.ion-social-facebook:hover{
     color: #3b5998;
}
.ion-social-googleplus:hover{
     color: #dd4b39;
}
.ion-social-twitter:hover{
     color: #55acee;
}
.ion-social-instagram:hover{
     color: #e95950;
}


/*----------------------------------*/
/* BIOGRAPHY PAGE */
/*----------------------------------*/
.biography-section-biography{
     text-align: center;
     padding: 50px;    
     width: 80%;
     margin: 0 auto;
     font-size: 110%;
}

.biography-section-biography p{
     text-align: left;
}

.biography-section-biography img{
     width: 40%;
     margin-bottom: 20px;
}

span.name {
     color: #f1c40f;
     font-size: 150%;
}

/*----------------------------------*/
/* PAINTINGS PAGE */
/*----------------------------------*/


.page-paintings ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     text-align: center;
}

/*
ul.portraits img{
     width: 80%;

}
*/


.page-paintings li{
     display: inline-block;
     width: 30%;
     height: auto;
     position: relative;
}

.page-paintings li img{
     width: 80%;
     margin: 30px 20px;
     background: rgb(0,0,0,);
     transition: 0.5s;
}


span.text-content{
     color: #fff;
     cursor: pointer;
     display: table;
     position: absolute;
     width: 81%;
     height: 200%;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     opacity: 0;
     transition: 0.5s;
}

span.text-content span{
     display: table-cell;
     text-align: center;
     vertical-align: middle;
}


ul.paintings li:hover img {
  opacity: .4;
}

ul.paintings li:hover span.text-content {
  opacity: 1;
}


/*----------------------------------*/
/* WORKSHOPS */
/*----------------------------------*/
.workshop-schedule{
     width: 70%;
     margin: 0 auto;
     text-align: center;
     font-size: 110%;
}

.workshop-schedule h3{
     margin-bottom: 60px;
}

.workshop-schedule p{
     font-size: 120%;
     margin-bottom: 50px;
}


/*----------------------------------*/
/* CONTACT */
/*----------------------------------*/
.contact-me{
     width: 80%;
     margin: 0 auto;
     font-size: 110%;
}

.contact-info{
     width: 70%;
     margin: 0 auto;
     color: #fff;
}

.contact-info p:first-of-type{
     font-size: 150%;
     color: #f1c40f;
}

.contact-info li{
     margin: 20px 0;
     font-size: 120%;
     list-style: none;
}

.contact-form-half form{
     width: 70%;
}










